
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: black;
}

.Toastify__toast--info {
  background-color: #c2410c !important; 
  border: 2px solid white !important;

}
.toastClass {
  @apply text-lg font-bold text-white; 
}


